<div class="col-md-12 col-xs-12 col-sm-12 col-bg-12">
    <form action="{:url('gongneng',['flag'=>'khxxgl'])}" method="post">
        <table class="table table-responsive">
            <caption class="text-center" style="font-size: xx-large;color: chocolate">客户信息管理</caption>
            <tr>
                <td><label for="customer_user">客户姓名</label> </td>
                <td><input type="text" name="customer_user" id="customer_user" required></td>
            </tr>
            <tr>
                <td><label for="customer_tel">客户电话</label> </td>
                <td><input type="tel" name="customer_tel" id="customer_tel" required></td>
            </tr>
            <tr>
                <td><label for="customer_address">客户地址</label> </td>
                <td><textarea name="customer_address" id="customer_address" cols="19" rows="2"></textarea> </td>
            </tr>
            <tr>
                <td><input type="submit" value="添加" class="btn btn-success" required></td>
                <td> </td>
            </tr>
        </table>
    </form>
</div>

  <div class="col-md-12">
      <table class="table table-responsive">
          <tr>
              <th>客户姓名</th>
              <th>电话</th>
              <th>联系地址</th>
              <th>操作</th>
          </tr>
          {volist name="res" id="vo"}
          <tr>
              <td>{$vo.customer_user}</td>
              <td>{$vo.customer_tel}</td>
              <td>{$vo.customer_address}</td>
              <td><a href="{:url('gongneng',['flag'=>'khxxgl'])}?customer_id={$vo.customer_id}" class="btn btn-info">删除</a></td>
          </tr>
          {/volist}
      </table>
  </div>

